.contact {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: rgb(35, 35, 35);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15% 0 calc(10% + 150px);
}
.contact h3 {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 35px;
  text-align: center;
}
.contact .contact-container {
  display: flex;
  align-items: start;
  gap: 50px;
  width: 100%;
}
.contact .contact-container .contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.contact .contact-container .contact-form span {
  font-size: 1em;
  font-weight: 300;
  margin: 10px 10px 15px;
  text-align: center;
}
.contact .contact-container .contact-form form {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px 20px 25px;
  background-color: rgb(38, 38, 38);
  border-radius: 5px;
}
.contact .contact-container .contact-form form input {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #858585;
  border-radius: 5px 5px 0 0;
  background-color: transparent;
  color: #fff;
}
.contact .contact-container .contact-form form textarea {
  height: 70px;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #858585;
  border-radius: 5px 5px 0 0;
  background-color: transparent;
  color: #fff;
}
.contact .contact-container .contact-form button {
  border: none;
  background-color: transparent;
  color: #cfcfcf;
  font-size: 1em;
  margin-top: 25px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 600;
  width: 140px;
}
.contact .contact-container .contact-form button .button-line {
  width: 100%;
  height: 1.5px;
  background: linear-gradient(to left, rgb(190, 223, 0) 0%, rgb(27, 230, 0) 100%);
  margin-top: 5px;
  opacity: 0;
  transition: all 0.2s;
}
.contact .contact-container .contact-form button:hover {
  color: #fff;
}
.contact .contact-container .contact-form button:hover .button-line {
  opacity: 1;
}
.contact .contact-container .contact-socialmedia {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.contact .contact-container .contact-socialmedia span {
  font-size: 1em;
  font-weight: 300;
  margin: 10px 10px 15px;
  text-align: center;
}
.contact .contact-container .contact-socialmedia .socialsmedia {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact-container .contact-socialmedia .socialsmedia img {
  width: 28px;
  height: auto;
  margin: 5px 10px;
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.1s;
}
.contact .contact-container .contact-socialmedia .socialsmedia img:hover {
  opacity: 1;
  filter: grayscale(0);
  transform: scale(1.1);
}
.contact .contact-container .contact-socialmedia .contact-email {
  margin: 20px auto 0;
  font-size: 0.8em;
  letter-spacing: 1px;
  color: rgb(165, 165, 165);
  text-decoration: underline;
  cursor: pointer;
}
@media (max-width: 1300px) {
  .contact {
    padding: 0 10% 0 calc(10% + 150px);
  }
}
@media (max-width: 1100px) {
  .contact {
    padding: 0 5% 0 calc(5% + 150px);
  }
}
@media (max-width: 950px) {
  .contact h3 {
    font-size: 1.3em;
  }
  .contact .contact-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact .contact-container .contact-form {
    flex: none;
    width: 100%;
    max-width: 450px;
  }
}
@media (max-width: 800px) {
  .contact {
    padding: 0 5%;
  }
}

/*# sourceMappingURL=contact.css.map */
